@*Instance of the course*@

@model BMart.com.Models.Course

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink("Download File", "DownloadFile","Course"
);
<table class="table table-hover">
    <thead>
        <th>Index</th>
    <th>Category</th>
    <th>Course Name</th>

    </thead>
    <tbody>
@foreach (var course in Model.GetCourses())
{
        <tr>
            <td>@course.Id</td>
            <td>@course.Category</td>
            <td>@course.Name</td>
            <td>@Html.ActionLink("Edit","Edit", course)</td>
        </tr>
}
    </tbody>

</table>


